@import "tailwindcss";

@theme inline {
  --color-teal-50: #D3F7FA;
  --color-yellow-50: #F8F7F0;
  --color-green-primary: #B9FF66;
  --color-dark-primary: #191A23;
  --font-space-grotesk: var(--font-space-grotesk);
  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}